@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 11%;
    --foreground: 0 0% 98%;

    --card: 240 21% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 240 21% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 83% 74%;
    --primary-foreground: 0 0% 98%;

    --secondary: 221 83% 53%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 34%;
    --muted-foreground: 240 5% 84%;

    --accent: 240 5% 34%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 240 5.9% 10%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  canvas {}

  body {
    @apply bg-background text-foreground font-exo;
  }

  .space-stars {
    @apply absolute inset-0 overflow-hidden pointer-events-none;
    background-image: radial-gradient(2px 2px at 25px 80px,
        white,
        rgba(255, 255, 255, 0)),
      radial-gradient(2.5px 2.5px at 50px 150px, white, rgba(255, 255, 255, 0)),
      radial-gradient(2px 2px at 125px 230px, white, rgba(255, 255, 255, 0)),
      radial-gradient(3px 3px at 215px 40px, white, rgba(255, 255, 255, 0)),
      radial-gradient(2px 2px at 280px 95px, white, rgba(255, 255, 255, 0)),
      radial-gradient(2.5px 2.5px at 320px 180px, white, rgba(255, 255, 255, 0)),
      radial-gradient(3px 3px at 380px 230px, white, rgba(255, 255, 255, 0)),
      radial-gradient(2px 2px at 440px 80px, white, rgba(255, 255, 255, 0));
    background-size: 500px 500px;
    animation: space-stars-move 100s linear infinite;
  }

  @keyframes space-stars-move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 500px 500px;
    }
  }

  .planet-orbit {
    @apply absolute rounded-full border border-white/10;
  }

  .planet {
    @apply absolute rounded-full shadow-lg cursor-pointer transition-all duration-300;
  }

  .glow {
    @apply absolute rounded-full opacity-30 blur-md -z-10;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 30, 45, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.8);
}

@keyframes bounces {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounces {
  animation: bounces 7s infinite;
}